/* apply this file ONLY to main pages that need to have topbar etc. */

body {
    margin: 0;
    padding: 0;
}

.topbar {
    width: 100vw;
    height: 5vh;
    background-color: #373e8a;
    overflow: hidden;
}

.topbar p {
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    align-items: center;
}