.options {
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 10vh;
    gap: 5vw;
    position: absolute;
    left: 27%;
    text-overflow: ellipsis;
    top: 12vh;
    border: 1px solid var(--color-border);
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.options button {
    height: 5vh;
    width: 12vw;
    text-overflow: ellipsis;
    border-radius: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#themeoptions {
    display: flex;
    flex-direction: column;
    width: 55vw;
    position: relative;
    left: 25vw;
    top: 20vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 3vh;
}

#themeoptions button {
    height: 6vh;
    border-radius: 30px;
}

#themetext {
    position: relative;
    left: 49vw;
    top: 17vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}